
@{
    ViewData["Title"] = "index";
}

<h1>Overzicht van de planning</h1>

<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>Datum</th>
        <th>Vak</th>
        <th>Lokaal</th>
    </tr>
    <tr>
        <td><!--Datum clickable voor lessen te tonen--></td>
        <td><!--Vak clickable voor lesmomenten te tonen--></td>
        <td><!----></td>
    </tr>
</table>

