th.tablesorter-header {
    background-repeat: no-repeat;
    background-position: center left;
    cursor: pointer;
}

th.tablesorter-headerUnSorted{
    background-image: url(images/black-unsorted.gif);
}

th.tablesorter-headerAsc {
    background-image: url(images/black-asc.gif);
}

th.tablesorter-headerDesc {
    background-image: url(images/black-desc.gif);
}

th.sorter-false {
    background-image: none;
    background-repeat: unset;
    background-position: unset;
    cursor: auto;
}