@{
    ViewData["Title"] = "Secret testing Page";
}


<h1>Hidden page</h1>
<br />
<p class="font-weight-bold">Secret: </p>
<p>This is the secret page where you can go to with the correct authorization.</p>













